{% extends 'base.html' %}

{% block content %}
<div class="col-12">
  <form action="{% url 'edit_movie' movie.id %}" method="post">
    {% csrf_token %}
    
    <div class="form-floating mb-3">
        {{ form.title }}
        
        <label for="floatingTitle">Название фильма</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.duration }}
        <label for="floatingTitle">Длительность фильма в минутах</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.genre }}
        
        <label for="floatingDescription">Жанр фильма</label>
    </div>
    
    <div class="form-floating mb-3">
        {{ form.description }}
        
        <label for="floatingDescription">Описание фильма</label>
    </div>


    <div class="form-floating mb-3">
        {{ form.release_date }}
        
        <label for="floatingDueDate">Год выхода фильма</label>
    </div>
    <div class="d-flex pt-4">
      
        <button type="submit" class="btn btn-primary">СОХРАНИТЬ ИЗМЕНЕНИЯ</button>
    </div>
</form>
 
{% endblock %}