{% extends 'base.html' %}

{% block content %}
  <h1>НАШ ДОМАШНИЙ КИНОТЕАТР</h1>
  <p class="mb-5 text-body-secondary">В современном мире, где проекты становятся всё более сложными и многозадачными, 
    использование системы управления КИНОТЕАТРОМ становится необходимостью для успешного выполнения задач. Она 
    помогает командам эффективно ОТДОХНУТЬ после работы над проектами, восстановить ресурсы и впредь достигать поставленне 
    цели в  установленные сроки.
  </p>
  <h1>Список сеансов</h1>
  <p class="mb-5 text-body-secondary">Каждый  может участвовать в просмотре любого фильма, но за деньги</p>
  <div class="row ">
    {% for session in sessions %}
    
    <div class="row flex-column gap-3 align-items-center mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ФИЛЬМ: {{session.movie.title}}</h5>
            <h5 class="card-title"> <a href = "{% url 'movie' session.movie_id %}"> подробнее о фильме </a></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">ЗАЛ: <a href ="{% url 'in_hall' session.hall_id %}" >{{session.hall.name}} </a>Начало: {{session.show_time}}</h6>
            <p class="card-text">{{session.movie.description}}</p>
            
          </div>
        </div>
      </div>
    </div>



      <!-- <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ session }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{session.price}}</h6>
          </div>
        </div>
      </div> -->
    {% empty %}
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Еще нет назначенных сеансов</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Если вы смотрите один, то вы либо красавчик, либо сверхчеловек</h6>
            <p class="card-text">К Каждому фильму требуется ответственный за ПИВО, иначе зритель просто уснет</p>
            <a href="#" class="card-link">Назначить ответственного за пиво</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}